Repository neoromantic/telegram-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bun run lint:fix
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

test: expand unit and e2e coverage
  src/__e2e__/commands.e2e.test.ts
  src/__e2e__/config.e2e.test.ts
  src/__e2e__/helpers/setup.ts
  src/__e2e__/messages.e2e.test.ts
  src/__e2e__/skill.e2e.test.ts
  src/__e2e__/user.e2e.test.ts
  src/__tests__/account-selector.test.ts
  src/__tests__/auth-prompts.test.ts
  src/__tests__/auth.test.ts
  src/__tests__/chats.test.ts
  src/__tests__/config.test.ts
  src/__tests__/daemon-accounts.connect.test.ts
  src/__tests__/daemon-accounts.test.ts
  src/__tests__/daemon-loop.test.ts
  src/__tests__/daemon-scheduler.test.ts
  src/__tests__/daemon-start.test.ts
  src/__tests__/daemon.test.ts
  src/__tests__/db.test.ts
  src/__tests__/helpers/snapshots.ts
  src/__tests__/messages-search.test.ts
  src/__tests__/output.test.ts
  src/__tests__/send.test.ts
  src/__tests__/skill.test.ts
  src/__tests__/sql-commands.test.ts
  src/__tests__/sync-schema.test.ts
  src/__tests__/sync-worker-real-context.test.ts
  src/__tests__/sync-worker-real-jobs.test.ts
  src/__tests__/sync-worker-real.test.ts
  src/__tests__/sync-worker-runner.test.ts
  src/__tests__/telegram-factory.test.ts
  src/__tests__/telegram.test.ts
  src/__tests__/types.test.ts
  src/__tests__/update-handlers.test.ts
  src/__tests__/user.test.ts
  test-setup.ts
Due: lint, typecheck

docs: refresh plans and references
  README.md
  ROADMAP.md
  docs/api-design.md
  docs/architecture.md
  docs/auth.md
  docs/build-distribution.md
  docs/caching.md
  docs/cli-commands.md
  docs/configuration.md
  docs/contacts.md
  docs/daemon.md
  docs/database-schema.md
  docs/plans/README.md
  docs/plans/ai-integration.md
  docs/plans/architecture.md
  docs/plans/build-distribution.md
  docs/plans/configuration.md
  docs/plans/core-infrastructure.md
  docs/plans/multi-account.md
  docs/plans/rate-limiting.md
  docs/plans/search.md
  docs/plans/testing.md
  docs/rate-limiting.md
  docs/real-time.md
  docs/search.md
  docs/sync-strategy.md
  docs/testing.md
  progress.md
Due: none

feat(sql): add annotated SQL DDL output for print-schema
  README.md
  docs/cli-commands.md
  docs/database-schema.md
  docs/sql.md
  src/__tests__/sql-commands.test.ts
  src/commands/sql/print-schema.ts
  src/commands/sql/query.ts
  src/commands/sql/schema-text.ts
Due: lint, typecheck

docs: prune plans and refresh README
  CLAUDE.md
  README.md
  docs/api-design.md
  docs/configuration.md
  docs/plans/README.md
  docs/plans/ai-integration.md
  docs/plans/multi-account.md
  src/db/rate-limits.ts
  src/db/types.ts
Due: lint, typecheck

chore: remove dead test helper files
  src/import-session.ts
  src/test-auth-v2.ts
  src/test-auth.ts
  src/test-qr-clean.ts
  src/test-qr-login-v2.ts
  src/test-qr-login.ts
  src/test-qr-start.ts
  src/test-resend.ts
  src/test-session.ts
Due: lint, typecheck

chore: remove unused output.ts exports
  src/__tests__/output.test.ts
  src/__tests__/sql-commands.test.ts
  src/utils/output.ts
Due: lint, typecheck

chore: remove unused CacheService class
  src/__tests__/cache.test.ts
  src/db/cache-index.ts
  src/db/cache.ts
Due: lint, typecheck

chore: remove unused GlobalOptions type
  src/__tests__/types.test.ts
  src/types/index.ts
Due: lint, typecheck

test: add coverage for messages-search numeric ID filters
  src/__tests__/messages-search.test.ts
Due: lint, typecheck

test: add coverage for daemon-accounts helper functions
  src/__tests__/daemon-accounts.test.ts
  src/daemon/daemon-accounts.ts
Due: lint, typecheck

test: add coverage for skill.ts error paths
  src/__tests__/skill.test.ts
  src/commands/skill.ts
Due: lint, typecheck

test: add coverage for sync-worker exception handling
  src/__tests__/sync-worker-real-jobs.test.ts
Due: lint, typecheck

feat: add API record/replay infrastructure for integration tests
  src/__integration__/helpers/setup.ts
  src/__integration__/telegram.integration.test.ts
  src/__tests__/telegram-record-replay.test.ts
  src/utils/telegram-record-replay.ts
Due: lint, typecheck

chore: minor code adjustments for coverage
  src/commands/sql/query.ts
  src/services/telegram.ts
Due: lint, typecheck

docs: add integration testing documentation
  docs/testing.md
  package.json
Due: lint

Docs
  CLAUDE.md
  ROADMAP.md
  docs/plans/README.md
  docs/plans/channel-tags.md
  docs/plans/core-infrastructure.md
  docs/plans/testing.md
  docs/sql.md
  progress.md
Due: none

fix: escape FTS5 special characters in message search queries
  src/__tests__/messages-search.test.ts
  src/db/messages-search.ts
Due: lint, typecheck

chore: format after rename
  src/__integration__/helpers/setup.ts
  src/__integration__/telegram.integration.test.ts
  src/__tests__/daemon-start.test.ts
  src/commands/skill.ts
  src/db/index.ts
Due: lint, typecheck

chore: normalize package.json
  package.json
Due: lint

chore: scope package for goodit
  CLAUDE.md
  README.md
  bun.lock
  docs/api-design.md
  package.json
  src/__e2e__/skill.e2e.test.ts
  src/__tests__/skill.test.ts
  src/commands/skill.ts
Due: lint, typecheck

chore: ship npm without dist binary
  README.md
  bin/tg.cjs
  package.json
  src/__e2e__/help.e2e.test.ts
  src/__tests__/skill.test.ts
  src/commands/skill.ts
  src/index.ts
Due: lint, typecheck

chore: format bin shim
  bin/tg.cjs
Due: none

chore: use bun shebang for cli shim
  bin/tg.cjs
Due: none

chore: normalize bin path
  package.json
Due: lint

docs: note local binary build
  CLAUDE.md
  docs/build-distribution.md
Due: none
